.mainDiv {
    position: relative;
}

.searchBarDiv {
    display: flex;
    justify-content: center;
}

.searchBar {
    font-family: Lexend Deca;
    font-weight: 300;
    width: 50%;
}

.searchBarDiv > button {
    margin-left: 10px;
    width: 30px;
}

.searchBarDiv > button:hover {
    background-color: #064f79;
}

.autoCompleteDiv {
    position: absolute;
    top: 30px;
    left: 78px;
}

.autoCompleteDiv > ul {
    flex-direction: column;
    list-style: none;
    border: 1px solid;
    width: 202px;
}

.autoCompleteDiv > ul > li {
    padding: 1%;
    display: flex;
    justify-content: left;
    margin: auto;
    border: 1px solid;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.autoCompleteDiv > ul > li:hover {
    background-color: aliceblue;
}

.autoCompleteDiv > ul > li > a {
    text-decoration: none;
    color: black;
    font-family: Space mono;
}
